th, td {
    padding: 15px;
    font-weight: bold;
}

th {
  font-size: 1.5em;
}

.messageText {
  min-width: 174px;
  max-width: 60%;
}

.postDate {
  min-width: 110px;
}

.newMessageBtn {
  cursor: pointer;
}

.newMessageBtn:hover {
  background-color: #92bbfc;
}

.username {
  min-width: 127px;
  width: auto;
}

#saveMsgBtn {
  margin-top: 1em;
}
