


<div class="Site">


<mat-toolbar>
  <mat-toolbar-row id="header">
  <a [routerLink]="['/home']"><h1 style="font-size:2.5em"> QA Cinemas</h1></a>
  <!-- <<span id="searchBar">
    <input id ="searchText" type="text" placeholder="Search.." name="search" >
    <button id ="searchBtn" type="submit"><i class="fa fa-search" ></i></button>
  </span> -->
   <!-- <span id="listSearch">
    <input type="text"  class="form-control" placeholder="Search" [(ngModel)]="query" >
    <div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic" >
    Search results <span class="caret"></span>
  </button>

  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">
    <div *ngFor="let film of films | LockFilter: query">
    <li role="menuitem"><a (click)="myFunction()" [routerLink]="['/film-details']" class="dropdown-item">{{film.title}}</a></li>
  </div>

  </ul>
</div>


  </span> -->

  <span id="listSearch">

   <div class="btn-group" dropdown>

 <input id="button-basic" dropdownToggle type="text" class="btn btn-Dark dropdown-toggle"
         aria-controls="dropdown-basic" placeholder="Search..." [(ngModel)]="query">



 <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
     role="menu" aria-labelledby="button-basic">
   <div *ngFor="let film of films | LockFilter: query" >
   <li role="menuitem"><a [routerLink]="['/listings-gallery']" class="dropdown-item">{{film.title}}</a></li>
 </div>

 </ul>
</div>


 </span>

  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-card-content>
      <button mat-button [matMenuTriggerFor]="menu">
        <i class="fas fa-video"></i>
        Films
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/listings-gallery']">
          <span>What's On</span>
        </button>
        <button mat-menu-item [routerLink]="['/future-releases']">
          <span>Future Releases</span>
        </button>
      </mat-menu>
    </mat-card-content>

    <mat-card-content>
      <button mat-button [matMenuTriggerFor]="infoMenu">
        <i class="fas fa-info-circle"></i>
        Information
      </button>
      <mat-menu #infoMenu="matMenu">
        <button mat-menu-item [routerLink]="['/opening-times']">
          <span>Opening Times</span>
        </button>
        <button mat-menu-item [routerLink]="['/classifications']">
          <span>Classifications</span>
        </button>
        <button mat-menu-item [routerLink]="['/screens']">
          <span>Screens</span>
        </button>
      </mat-menu>
    </mat-card-content>

    <mat-card-content>
      <button mat-button [routerLink]="['/contact']"><i class="fas fa-address-book"></i>Contact</button>
    </mat-card-content>

    <mat-card-content>
      <button mat-button onclick="window.location.href = 'http://localhost:3000'"><i class="fas fa-comments"></i>Live Chat</button>
    </mat-card-content>

  </mat-toolbar-row>
</mat-toolbar>

<div id="body">
  <router-outlet></router-outlet>
</div>

<footer>
  <mat-toolbar id="footer">
    <ul>
      <li>
        <a [routerLink]="['/home']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/listings-gallery']">Currently Showing</a>
      </li>
      <li>
        <a [routerLink]="['/future-releases']">Coming Soon</a>
      </li>
      <li>
        <a [routerLink]="['/message-board']">Message Board</a>
      </li>
    </ul>
    <ul>
      <li>
        <a [routerLink]="['/opening-times']">Opening Times</a>
      </li>
      <li>
        <a [routerLink]="['/classifications']">Classifications</a>
      </li>
      <li>
        <a [routerLink]="['/screens']">Screens</a>
      </li>
    </ul>
    <ul>
      <li>
        <a [routerLink]="['/contact']">Contact Us</a>
      </li>
      <li>
        <a [routerLink]="['/local-venues']">The Local Area</a>
      </li>
      <li>
        <a [routerLink]="['/location']">Find Us</a>
      </li>
      <li>
        <a [routerLink]="['/about-us']">About Us</a>
      </li>
    </ul>
  </mat-toolbar>
</footer>

</div>
